@media screen and (max-width: 1150px) {
  .container {
    padding: 0 20px 0 20px;
  }
  header {
    .header_menu {
      font-size: 16px;
      padding: 13px 0px;
    }
  }

  .reasons {
    .container {
      .reasons_wrapper {
        gap: 35px 22px;
      }
      .wrapper_img {
        width: 93px;
        height: 93px;
      }
      .reasons_img {
        max-width: 75px;
        max-height: 68px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .promo {
    &_header {
      font-size: 45px;
    }
    &_subheader {
      font-size: 30px;
    }
  }
  .reasons {
    .container {
      .reasons_wrapper {
        gap: 35px 15px;
      }
      .wrapper_img {
        width: 83px;
        height: 83px;
      }
      .reasons_img {
        max-width: 65px;
        max-height: 58px;
      }
      .wrapper_reasons_text {
        max-width: 265px;
      }
    }
  }
  .mobile {
    .container {
      .wrapper_cards {
        gap: 19px 20px;
        margin-top: 32px;
      }
      .card {
        padding: 10px;
      }
      .title_card {
        font-size: 24px;
        line-height: 31px;
      }
    }
  }
  header {
    .header_menu {
      grid-template-columns: 75px 4fr 4fr 2fr 2fr 130px;
    }
    .menu_element {
      a {
        font-size: 14px;
      }
    }
  }
  .title {
    font-size: 30px;
  }
  .promo_descr {
    font-size: 16px;
  }
  .terms_wrapper_lists {
    font-size: 14px;
    grid-gap: 62px 80px;
  }
}

@media screen and (max-width: 768px) {
  .reasons {
    .container {
      .wrapper_reasons_text {
        max-width: 240px;
      }
      .reasons_text {
        font-size: 14px;
      }
    }
  }
  .mobile .container .wrapper_cards {
    grid-template-columns: 1fr 1fr;
  }
  .terms_wrapper_lists {
    font-size: 14px;
    grid-gap: 62px 5px;
  }
}
