@media screen and (max-width: 1150px) {
  .container {
    padding: 0 20px 0 20px;
  }
  header {
    .header_menu {
      font-size: 16px;
      padding: 13px 0px;
    }
  }

  .reasons {
    .container {
      .reasons_wrapper {
        gap: 35px 22px;
      }
      .wrapper_img {
        width: 93px;
        height: 93px;
      }
      .reasons_img {
        max-width: 75px;
        max-height: 68px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .promo {
    &_header {
      font-size: 45px;
    }
    &_subheader {
      font-size: 30px;
    }
  }
  .reasons {
    .container {
      .reasons_wrapper {
        gap: 35px 15px;
      }
      .wrapper_img {
        width: 83px;
        height: 83px;
      }
      .reasons_img {
        max-width: 65px;
        max-height: 58px;
      }
      .wrapper_reasons_text {
        max-width: 265px;
      }
    }
  }
  .mobile {
    .container {
      .wrapper_cards {
        gap: 19px 20px;
        margin-top: 32px;
      }
      .card {
        padding: 10px;
      }
      .title_card {
        font-size: 24px;
        line-height: 31px;
      }
    }
  }
  header {
    .header_menu {
      grid-template-columns: 75px 4fr 4fr 2fr 2fr 130px;
    }
    .menu_element {
      a {
        font-size: 14px;
      }
    }
  }
  .title {
    font-size: 30px;
  }
  .promo_descr {
    font-size: 16px;
  }
  .terms_wrapper_lists {
    font-size: 14px;
    grid-gap: 62px 80px;
  }
}

@media screen and (max-width: 768px) {
  .reasons .container .reasons_block {
    display: block;
    margin: 0 auto;
  }
  .reasons .container .reasons_block .wrapper_img {
    margin: 0 auto;
  }
  .reasons .container .reasons_block .wrapper_reasons_text {
    margin-top: 15px;
  }
  .mobile .container .wrapper_cards {
    grid-template-columns: 1fr 1fr;
  }

  .car .bottom_block .car_img {
    width: 533px;
    height: 261px;
  }

  .terms_wrapper_lists {
    grid-template-columns: 1fr;
  }
  .terms_wrapper_lists {
    font-size: 14px;
    grid-gap: 62px 5px;
  }

  .promo .subheader_wrapper .wrapper_logo .logo_text {
    font-size: 20px;
  }

  .promo .subheader_wrapper .wrapper_logo .logo_img {
    width: 25px;
    height: 25px;
  }
  .promo_header {
    font-size: 36px;
  }

  .promo_subheader {
    font-size: 24px;
  }

  footer .footer_wrapper {
    grid-template-columns: 1fr;
  }
  footer .subheader_menu {
    justify-content: space-around;
  }

  footer .header_menu {
    margin-top: 17px;
  }

  .container {
    padding: 0 10px 0 10px;
  }

  .promo .subheader_wrapper .contact .contact_btn {
    margin-left: 8px;
    width: 150px;
  }

  .promo .subheader_wrapper .contact address .address {
    font-size: 18px;
  }
  header .header_menu {
    grid-template-columns: 60px 4fr 4fr 3fr 3fr 100px;
  }

  header .menu_element a {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
  }
  .car .bottom_block .semicircle {
    width: 100%;
  }
  header .header_menu {
    position: fixed;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 50px);
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 30% 15px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    align-items: center;
    transition: 0.7 all;
    .menu_element a {
      font-size: 20px;
    }
  }
  .active {
    left: 0;
  }

  header nav .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    .element_burger {
      display: block;
      background-color: #fff;
      height: 3px;
      margin-bottom: 4px;
      transition: 0.5s all;
    }
  }

  .hamburger_active {
    .element_burger {
      margin-bottom: -2px;
      &:nth-child(1) {
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(45deg);
      }
    }
  }
}
@media screen and (max-width: 576px) {
  header .header_menu {
    width: 50%;
    .menu_element a {
      font-size: 20px;
    }
  }

  header .menu_element:not(.start) {
    border-left: none;
  }
}
