@media screen and (max-width: 1150px) {
  .container {
    padding: 0 20px 0 20px;
  }
  header {
    .header_menu {
      font-size: 16px;
      padding: 13px 0px;
    }
  }

  .reasons {
    .container {
      .reasons_wrapper {
        gap: 35px 22px;
      }
      .wrapper_img {
        width: 93px;
        height: 93px;
      }
      .reasons_img {
        max-width: 75px;
        max-height: 68px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  header {
    .header_menu {
      grid-template-columns: 75px 4fr 4fr 2fr 2fr 130px;
    }
    .menu_element {
      a {
        font-size: 14px;
      }
    }
  }
  .promo {
    &_header {
      font-size: 45px;
    }
    &_subheader {
      font-size: 30px;
    }
  }
  .reasons {
    .container {
      .reasons_wrapper {
        gap: 35px 15px;
      }
      .wrapper_img {
        width: 83px;
        height: 83px;
      }
      .reasons_img {
        max-width: 65px;
        max-height: 58px;
      }
      .wrapper_reasons_text {
        max-width: 265px;
      }
    }
  }
  .mobile {
    .container {
      .wrapper_cards {
        gap: 19px 20px;
        margin-top: 32px;
      }
      .card {
        padding: 10px;
      }
      .title_card {
        font-size: 24px;
        line-height: 31px;
      }
    }
  }

  .title {
    font-size: 30px;
  }
  .promo_descr {
    font-size: 16px;
  }
  .terms_wrapper_lists {
    font-size: 14px;
    grid-gap: 62px 80px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px 0 10px;
  }

  header {
    position: fixed;
    top: 0;
    z-index: 3;
    height: 40px;
    nav {
      .header_menu {
        position: fixed;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 50px);
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 30% 15px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 5;
        align-items: center;
        transition: 0.7s all;
        .menu_element a {
          font-size: 20px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-40%);
        width: 25px;
        height: 25px;
        z-index: 5;
        .element_burger {
          display: block;
          background-color: #fff;
          height: 3px;
          margin-bottom: 4px;
          transition: 0.5s all;
        }
      }
      .hamburger_active {
        .element_burger {
          margin-bottom: -4px;
          &:nth-child(1) {
            transform: translateY(7px) rotate(-45deg);
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            transform: translateY(7px) rotate(45deg);
          }
        }
      }
      .active {
        left: 0;
      }
      .active_bg {
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.705);
        position: fixed;
        left: 0%;
        top: 0%;
        z-index: 4;
      }
    }
  }

  .promo {
    margin-top: 40px;
    .subheader_wrapper {
      .contact {
        .contact_btn {
          margin-left: 8px;
          width: 150px;
        }
        address {
          .address {
            font-size: 18px;
          }
        }
      }
      .wrapper_logo {
        .logo_text {
          font-size: 20px;
        }
        .logo_img {
          width: 25px;
          height: 25px;
        }
        .promo_header {
          font-size: 36px;
        }
      }
    }
  }

  .promo_subheader {
    font-size: 24px;
  }

  .reasons {
    .container {
      .reasons_block {
        display: block;
        margin: 0 auto;
        .wrapper_img {
          margin: 0 auto;
        }
        .wrapper_reasons_text {
          margin-top: 15px;
        }
      }
    }
  }

  .mobile {
    .container {
      .wrapper_cards {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .car {
    .bottom_block {
      .car_img {
        width: 533px;
        height: 261px;
      }
      .semicircle {
        width: 100%;
      }
    }
  }

  .terms_wrapper_lists {
    grid-template-columns: 1fr;
    font-size: 14px;
    grid-gap: 62px 5px;
  }

  footer {
    .footer_wrapper {
      grid-template-columns: 1fr;
    }
    .subheader_menu {
      justify-content: space-around;
    }
    .header_menu {
      margin-top: 17px;
    }
  }
}

@media screen and (max-width: 576px) {
  header {
    nav {
      .header_menu {
        width: 85%;
      }
    }
  }

  .promo {
    padding: 151px 0 32px 0;
    .subheader_wrapper {
      .wrapper_logo {
        .logo_text {
          font-size: 14px;
        }
        .logo_img {
          width: 18px;
          height: 18px;
        }
        .subheader_text {
          display: none;
        }
      }
      .contact {
        flex-direction: column;
        address {
          .contact_text {
            display: none;
          }
          .address {
            font-size: 12px;
          }
        }
        .contact_btn {
          width: 126px;
          height: 35px;
          font-size: 10px;
          margin-top: 5px;
        }
      }
    }
  }
  .promo_descr {
    display: none;
  }
  .promo_header {
    font-size: 30px;
  }
  .promo_subheader {
    font-size: 20px;
  }

  .reasons {
    padding: 32px 0 50px 0;
    .container {
      .reasons_wrapper {
        grid-template-columns: 1fr;
      }
      .wrapper_reasons_text {
        max-width: 320px;
      }
      .reasons_text {
        font-size: 15px;
        max-width: 320px;
      }
    }
  }

  .title {
    font-size: 20px;
  }

  .mobile {
    padding: 32px 0 43px 0;
    .container {
      .card {
        width: 100%;
        margin: 0 auto;
      }
      .wrapper_cards {
        grid-template-columns: 1fr;
      }
    }
  }
  .car {
    padding: 25px 0 0 0;
    min-height: 560px;
    .bottom_block {
      .car_img {
        width: 320px;
        height: 160px;
      }
    }
    .bottom_block {
      height: 180px;
      .semicircle {
        height: 180px;
      }
    }
  }
  .terms {
    padding: 25px 0 25px 0;
    .terms_wrapper_lists {
      grid-gap: 40px 15px;
      .terms_list {
        .list_title {
          font-size: 16px;
        }
        ul {
          padding: 0;
          .list_element {
            font-size: 14px;
            line-height: 1.2;
          }
        }
      }
    }
  }
  .section_descr {
    font-size: 14px;
    margin-top: 10px;
  }

  .peace {
    padding: 30px 0;
    min-height: 320px;
    max-height: 480px;
    .city {
      margin-top: 200px;
    }
  }

  footer {
    .subheader_menu {
      flex-wrap: wrap;
      .element_subheader {
        margin: 7px;
      }
    }
    &::before {
      width: 80%;
    }
  }
}
