@mixin button {
  font-family: 'Roboto';
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: 0px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin hover_btn {
  &:hover {
    background-color: #1eacc7;
    background-image: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  background-color: #212121;
  width: 100%;
  .header_menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 13px 70px;
  }
  .menu_element {
    padding-left: 30px;
    a {
      font-family: 'Roboto' sans-serif;
      font-size: 15px;
      font-weight: 300;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .menu_element:not(.start) {
    border-left: dashed 2px black;
  }
}

.promo {
  position: relative;
  background: url('../img/bg_banner.jpg') center center / cover no-repeat;
  height: 748px;
  padding: 151px 0 132px 0;
  text-align: center;
  .subheader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 16px 0 16px 0;
    &_wrapper {
      display: flex;
      justify-content: space-around;
      .wrapper_logo {
        .logo {
          display: flex;
          justify-items: center;
          &_text {
            font-family: 'Roboto';
            font-size: 26px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.075em;
            color: #ffffff;
          }
          &_img {
            width: 32px;
            height: 32px;
            margin-right: 9px;
          }
        }
        .subheader_text {
          font-family: 'Roboto';
          font-size: 13px;
          font-weight: 100;
          color: rgba(255, 255, 255, 0.5);
          margin-top: 9px;
        }
      }
      .contact {
        display: flex;
        justify-items: center;
        address {
          .address {
            font-family: 'Roboto';
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
            color: #ffffff;
          }
          .contact_text {
            font-family: 'Roboto';
            font-size: 12px;
            line-height: 14px;
            font-weight: 300;
            color: #ffffff;
          }
        }
        .contact_btn {
          @include button();
          @include hover_btn();
          font-size: 14px;
          width: 178px;
          height: 52px;
          margin-left: 30px;
        }
      }
    }
  }
  &_header {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
  }
  &_subheader {
    margin-top: 22px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }
  &_descr {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 23px;
    &_text {
      margin-top: 37px;
    }
  }
  &_btn {
    @include button();
    @include hover_btn();
    width: 265px;
    height: 69px;
    font-size: 18px;
    margin-top: 115px;
  }
}

.label {
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  width: 112px;
  height: 24px;
  padding: 5px 12px;
  text-align: center;
  margin: 0 auto;
}
.title {
  color: #222222;
  margin-top: 44px;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.reasons {
  padding: 79px 0 68px 0;
  .container {
    .reasons_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 35px 102px;
      margin-top: 40px;
    }
    .reasons_block {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .wrapper_img {
      width: 113px;
      height: 113px;
      background-color: #1eacc7;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .reasons_img {
      max-width: 85px;
      max-height: 78px;
    }

    .wrapper_reasons_text {
      max-width: 341px;
      line-height: 21px;
    }

    .reasons_header {
      font-size: 17px;
      font-weight: 400;
      color: #1eacc7;
    }

    .reasons_text {
      text-align: justify;
      line-height: 21px;
      font-size: 15px;
      font-weight: 300;
      color: #202020;
    }
  }
}

.section_descr {
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  color: #222222;
  margin-top: 19px;
}

.mobile {
  background: url('../img/bg_mobile.jpg') center center / cover no-repeat;
  padding: 48px 0 80px 0;
  text-align: center;
  .container {
    .wrapper_cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 19px 67px;
      margin-top: 32px;
    }

    .card {
      width: 320px;
      height: 280px;
      position: relative;
      &_1 {
        background: url('../img/mobile_1.png') center center / cover no-repeat;
      }
      &_2 {
        background: url('../img/mobile_2.png') center center / cover no-repeat;
      }
      &_3 {
        background: url('../img/mobile_3.png') center center / cover no-repeat;
      }
      &_4 {
        background: url('../img/mobile_4.png') center center / cover no-repeat;
      }
      &_5 {
        background: url('../img/mobile_5.png') center center / cover no-repeat;
      }
      &_6 {
        background: url('../img/mobile_6.png') center center / cover no-repeat;
      }
    }

    .title_card {
      font-size: 24px;
      line-height: 31px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
      margin-top: 91px;
    }
    .card_btn {
      position: absolute;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000000;
      border-radius: 100%;
      cursor: pointer;
      margin: 0 auto;
      margin-top: 75px;
      bottom: 35px;
      left: calc(50% - 13px);
      &::after {
        content: '';
        display: block;
        width: 14px;
        height: 2px;
        background-color: #1eacc7;
        transition: 0.3s all;
      }
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 2px;
        height: 14px;
        background-color: #1eacc7;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s all;
      }
      &:hover {
        &::after,
        &::before {
          background-color: #207283;
        }
      }
    }
  }
}

.car {
  padding: 56px 0;
  min-height: 896px;
  background-color: #070716;
  text-align: center;
  position: relative;
  .container {
    .label {
      width: 112px;
      height: 24px;
      background-color: #ffffff;
      text-transform: uppercase;
      color: #070716;
    }
    .title {
      color: #ffffff;
    }
    .section_descr {
      color: #ffffff;
    }
  }
  .bottom_block {
    position: absolute;
    display: block;
    width: 100%;
    height: 397px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/bg_car.png);
    z-index: 2;
    &_text {
      font-size: 17px;
      line-height: 24px;
      font-weight: 300;
      color: #222222;
    }
    .car_img {
      position: absolute;
      width: 759px;
      height: 347px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
    .semicircle {
      position: absolute;
      display: block;
      width: 583px;
      height: 267px;
      background-color: #1eacc7;
      border-radius: 50% 50% 0 0 / 100% 100% 0 0;
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
      &_title {
        font-size: 38px;
        font-weight: 700;
        color: #ffffff;
        margin-top: 25px;
      }
      &_descr {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}
